body {
  background-color: #202020;
  color: #DCCDCC;
}
.template {
  padding: 20px 15px;
  text-align: center;
}

.light-colored-text {
//	color: mediumaquamarine;
	color: lightseagreen;
}

div .margin-vertical-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}